<div class="row">
  <div class="col-8 offset-4">

    <%= form_with model:article, local: true do |f| %>
    <div class="row form-group">
      <div class="image">
        <%= f.label :image, "投稿画像", class: "col-3" %>
        <div class="col-4 offset-4">
          <%= attachment_image_tag(article, :image, fallback: "no_image.png", size: "100x100") %>
          <%= f.attachment_field :image %>
        </div>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-9">
        <%= f.label :title, "タイトル" %>
        <%= f.text_field :title, class: "form-control" %>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-9">
        <%= f.label :tag_list, "タグ" %>
        <%= f.text_field :tag_list, value: @article.tag_list.join(','), class: "form-control" %>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-9">
        <%= f.label :body, "投稿内容", class: "col-3" %>
        <%= f.text_area :body, class: "form-control", style: "height: 1000px;" %>
      </div>
    </div>

    <div class="raw form-group">
      <div class="col-3 offset-3">
        <%= f.submit "投稿", class: "btn btn-success btn-block" %>
      </div>
    </div>

    <% end %>
  </div>
</div>