<div class="container">
  <% if params[:circle_id] %>
    <h1 class="page-title text-center"><%= @circle.name %> 投稿一覧</h1>
    <%= render "index", articles: @articles %>
  <% elsif params[:tag_name] %>
    <h1 class="page-title text-center"><%= @tag %> タグの投稿一覧</h1>
    <%= render "index", articles: @articles %>
  <% else %>
    <h1 class="page-title text-center">サークル活動記録　投稿一覧</h1>
    <%= render "index", articles: @articles %>
  <% end %>
</div>