<h1 class="text-center page-title"><%= @topic.title %></h1>
<hr>
<% @posts.each_with_index do |post , idx| %>
  <p class="board text-center">
    <%= idx + 1 %>. <%= post.name %> : <%= post.body %> <br>
    <div class="offset-8">
      <%= post.created_at.strftime('%Y年%m月%d日%H:%M:%S')%>
    </div>
    <% if current_user.admin? %>
      <%= link_to '[削除]', post_path(post), class: "topi2 col-3 offset-9", method: :delete, data: {confirm: "削除してもよろしいですか？"} %>
    <% end %>
  </p>
<% end %>

<hr>
<h3 class="text-center">新規書き込み</h3>
<div class="row offset-2">
  <div class="col-2 offset-4">
    <%= form_with model:@newpost, url:posts_path, local:true do |f| %>
      <p>お名前</p>
      <p><%= f.text_field :name %></p>
      <p>本文</p>
      <p><%= f.text_area :body %></p>
      <%= f.hidden_field :topic_id %>
      <div class="offset-3">
        <%= f.submit "投稿する" %>
      </div>
    <% end %>
  </div>
</div>