<% schedules.each do |schedule| %>
  <div id="modalSchedule<%= schedule.id %>" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="text-center">参加者一覧</h3>
        </div>
        
        <div class="modal-body">
          <% if schedule.entries.blank? %>
            <h3 class="text-center">参加者はいません</h3>
          <% else %>
            <table class="table">
              <thead>
                <tr class="success">
                  <th class="col-xs-2"></th>
                  <th>性別</th>
                  <th>年齢</th>
                </tr>
              </thead>
              
              <tbody>
                <% schedule.entries.each do |entry| %>
                  <tr>
                    <td><% attachment_image_tag(entry.user, :image, fallback: "no_image.png", size: "50x50" ) %>
                      <%= link_to entry_user.nickname, user_path(entry.user) %></td>
                    <td><%= entry.user.gender %></td>
                    <td><%= entry.user.age %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% end %>
        </div>
        
        <div class="model-footer">
          <div class="row button-group text-center">
            <div id="entry_<%= schedule.id %>">
              <%= render "entry", schedule: schedule %>
            </div>
          </div>
          
          <div class="row button-group text-center">
            <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>