<div class="container">
  <h1 class="page-title text-center"><%= @circle.name %> のメンバー一覧</h1>
  
  <table class="table">
    
    <thead>
      <tr class="success">
        <th class="col-2"></th>
        <th>性別</th>
        <th>年齢</th>
        <th>得意ショット</th>
      </tr>
    </thead>
    
    <tbody>
      <% @circle.users.each do |user| %>
        <tr>
          <td><%= attachment_image_tag(@user, :image, fallback: "no_image.png", size: "50x50") %><%= link_to user.nickname, user_path(user) %></td>
          <td><%= user.gender %></td>
          <td><%= user.age %></td>
          <td><%= user.good_shot %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <div class="row text-center offset-4">
    <div class="col-2 offset-2">
      <%= link_to "戻る", circle_path(@circle), class: "btn btn-primary" %>
    </div>
  </div>
</div>